/* set up basic font */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: grey;
}

/* create main flex container */
#main_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#about_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px;
    height: auto;
}

#avatar{
    border-radius: 50%;
    width: 200px;
    border: solid white;
}

#content_container{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 25px;
    height: auto;
}

.tablink {
    background-color: black;
    color: white;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 70px;
}

.tablink:hover {
    background-color: rgb(49, 49, 49);
}

.tabcontent {
    background-color: rgb(70, 70, 70);
    margin-bottom: 20px;
    box-shadow: 0 0 10px 10px rgb(70, 70, 70);
    display: none;
    color: white;
    height: auto;
}

#default_tab{
    display: none;
    background-color: none;
}

#home_tab{
    display:flex;
    width: 100%;
    height: 100%;
}


#project_tab{
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

#resume_tab{
    flex-direction: column;
    height: 100%;
    padding: 10px 50px;
}

#lorem_tab{
    flex-direction: column;
    height: 100%;
    padding: 10px 50px;
}

#ipsum_tab{
    flex-direction: column;
    height: 100%;
    padding: 10px 50px;
}

#content_tab{
    align-self: flex-start;
    width: auto;
}

.project_pair{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects{
    display: flex;
    width: 300px;
    height: 400px;
    margin: auto;
}

@media screen and (min-width: 700px){
    #main_container{
        flex-direction: row;
        align-items: flex-start;
    }

    #content_container{
        height: 95vh;
        overflow: hidden scroll;
    }
}

@media screen and (min-width: 1000px){
    .project_pair{
        flex-direction: row;
    }
}