body{
    font-family: Arial, Helvetica, sans-serif;
}

#main_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 50px 10px 50px;
}

#content_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 100px;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: solid black 1px;
    outline: solid black 1px;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    width: 25%;
}
  
.tablink:hover {
    background-color: #777;
}

.tabcontent {
    background-color: #555;
    color: black;
    height: 100%;
}

#avatar{
    border-radius: 50%;
    width: 200px;
}

#about_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#project_tab{
    flex-direction: column;
    align-items: center;
    background-color: #555;
    width: 100%;
}

#resume_tab{
    flex-direction: column;
}

#content_tab{
    align-self: flex-start;
}

.projects{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 400px;
}

@media screen and (min-width: 700px){
    #main_container{
        flex-direction: row;
        align-items: flex-start;
    }

    #content_container{
        overflow-y: auto scroll;
    }
}

@media screen and (min-width: 900px){
    #project_tab{
        flex-direction: row;
    }
    .project_pair{
        flex-direction: row;
    }
}